.blog-post-container > header >h1{
    
        font-size: 64px;
   
}



.blog-content{
        max-width: 800px;
        padding: 1.5em;
        color: black;
        border-radius: 8px;
        background: white;
}

.blog-content .code-section p{
        margin: 0;
        display: flex;
}

.blog-content .code-section {
        border-left: 2px solid white;
        padding-left: 5px;
}

.blog-content  p {
        letter-spacing: 0.2px;
        font-size: medium;
        margin: 2rem;
        color: black;
        line-height: 1.8rem;
}

.blog-content code {
    background: #19234f;
    padding: 8px;
    width: 100%;
    color: white;
}

.blog-content iframe{
        border: none;
        width: 100%;
        min-height: 500px;
}
.blog-details-header{
        display: flex;
        justify-content: space-around;
}

@media only screen and (max-device-width: 480px) and (min-device-width: 320px){
        .blog-post-container > header >h1{
                font-size: 36px;
        }
        .blog-content  p {
                margin: 0;
        }

        .blog-tags{
                display: flex;
                flex-direction: column;
        }
        .blog-tags a{
                margin: 10px 0;
        }
        .blog-tags span{
                margin-bottom: 10px;
        }
        .blog-content{
                padding: 0.75em;
        }
        .blog-details-header{
                flex-direction: column;
        }
}