.portfolio-container{
    margin: 25% 0;
}

.portfolio-container:first-of-type{
margin-top: 0;
}
.portfolio-case-heading{
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2em;
}
.portfolio-work-heading{
    font-size: 15px;
}
.portfolio-image-container{
    max-width: 900px;
    padding: 20px 40px;
    background: transparent linear-gradient(242deg, #5C90F5 0%, #006FFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 3px;
}
.portfolio-image-container img{
    max-width: 100%;
}
.portfolio-main-background{
    position: absolute;
    width: 80%;
    height: 150%;
    /* min-height: ; */
    /* margin-top: -10%; */
    top: -25%;
    left: -20%;
    background: transparent linear-gradient(236deg, #366AF8 0%, #2237C1 100%) 0% 0% no-repeat padding-box;
    z-index: -1;
}
.portfolio-para{
    max-width: 80%;
    line-height: 1.5em;
}
.portfolio-description{
    margin-right: 55px;
    max-width: 30%;
}

.portfolio-right>div:nth-child(2){
    flex-direction: row-reverse;
}

.portfolio-right .portfolio-description{
    margin-left: 50px;
    margin-right: auto;
}
.portfolio-right .portfolio-main-background{
    right: -25%;
    left: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    .portfolio-para{
        max-width: 100%;
    }
    .portfolio-description{
        margin-left: 50px;
        margin-right: 0;
        max-width: 100%;
    }
    .portfolio-container{
        margin: 50% 0;
    }
    .portfolio-right .portfolio-main-background{
        right: -17%;
        left: auto;
    }
    .portfolio-main-background{
        height: 100%;
        width: 110vw;
        left: -17vw;
        top: 0;
    }
    .portfolio-case-heading{
        font-size: 32px;
    }
    .portfolio-image-container{
        padding: 10px 20px;
        margin-top: -40%;
    }
    .portfolio-work-heading{
        font-size: 14px;
    }
}
