

/* Layout and color classes used throughout the project */

/* These are general layout styles. Component specific styles will NOT be found here. Mainly helper classes like d-flex, h-100 etc etc. */

.d-flex{
    display: flex;
  }

.justify-content-space-between{
    justify-content: space-between;
  }

.h-100{
    height: 100%;
  }

.hv-100{
  height: 100vh;
}

.w-100{
    width: 100%;
}

.w-75{
  width: 75%;
}

.my-5{
  margin-top: 2em;
  margin-bottom: 2em;
}

.bg-white{
  background: white;
}

.bg-white::before{
  content: '';
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  left: 0;
  z-index: -1;
}
  /* theme and color settings */

  .light-theme{
    color: black;
      
  }

  .light-theme a{
    color: black;
  }

  .dark-theme{
    color: white; 
  }

  .dark-theme a{
    color: white;
  }

  .pointer{
    cursor: pointer;
  }

  main{
    margin: 0 12%;
  }


  header{
    padding-top: 55px;
    
  }

  .flex-column{
    flex-direction: column;
  }

 

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

  .sm-col-1,.sm-col-2,.sm-col-3,.sm-col-4{
    position: relative;
  }
  .sm-col-1{
    left: 0%;
  }
  .sm-col-2{
    left: 25%;
  }
  .sm-col-3{
    left: 50%;
  }
  .sm-col-4{
    left: 75%;
  }

}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
 
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
 
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

  .lg-col-1,.lg-col-2,.lg-col-3,.lg-col-4{
    position: relative;
  }

 .lg-col-1{
   left: 0%;
 }
 .lg-col-2{
  left: 25%;
}
.lg-col-3{
  left: 50%;
}
.lg-col-4{
  left: 75%;
}
 
}

