

/* Layout and color classes used throughout the project */

/* These are general layout styles. Component specific styles will NOT be found here. Mainly helper classes like d-flex, h-100 etc etc. */

.d-flex{
    display: flex;
  }

.justify-content-space-between{
    justify-content: space-between;
  }

.h-100{
    height: 100%;
  }

  .w-100{
      width: 100%;
  }


  /* theme and color settings */

  .light-theme{
    color: black;
      
  }

  .dark-theme{
    color: white; 
  }

  main{
    margin: 0 15%;
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {



}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
 
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
 
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
 
}


/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
  
}