

/* Typography classes for headings and paragraphs texts */

/* This is a general stylesheet. Contains font styling and color css */

/* Component specific styles will be found in the respective component directory */

*{
   font-family: 'Poppins', sans-serif;
}

.vertical-text-break{
  display: flex;
  flex-direction: column;
}

.color-dark{
  color: #7A52E9;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {



}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
 
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
 
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
 
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
 
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
 
}

/* Desktops and laptops ----------- */

/* this covers all, for large and medium size use another. */


/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  h1{
    font-size: 72px;
  }

  p{
    font-size: 15px;
    letter-spacing: 0.3px;
  }

}


/* Large screens ----------- */
@media only screen
and (min-width : 1659px) {
  h1{
    font-size: 96px;
  }

  h2{
    font-size: 36px;
  }
}



