.cursor{
    width: 3rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    z-index: 999;
    transform: translate(-50%,-50%);
    pointer-events: none;
    transition: all 0.2s ease;
    transition-property: background,border,transform;
    transform-origin: 150%,150%;

}